* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    /*background-image: url("https://django-project.oss-cn-shanghai.aliyuncs.com/background/201112111638-5.jpg");*/
    /*background-size: 100% 100%;*/
    background-color: mediumpurple;
}

canvas {
    outline: none;
}

.ac-game-menu, .ac-game-setting, .ac-game-difficult {
    width: 100%;
    height: 100%;
    /*background-image: url("https://django-project.oss-cn-shanghai.aliyuncs.com/background/201112111638-5.jpg");*/
    /*background-size: 100% 100%;*/
    user-select: none;
}

.ac-game-menu-field, .ac-game-setting-field, .ac-game-difficult-field {
    width: 20vw;
    position: relative;
    top: 20%;
    left: 20%;
}

.menu-field-item, .setting-field-item, .difficult-field-item {
    height: 10vh;
    width: 15vw;
    color: white;
    font-style: italic;
    font-size: 4vh;
    padding: 2vh;
    background-color: rgba(39, 21, 28, 0.6);
    text-align: center;
    border-radius: 2vh;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.menu-field-item:hover, .setting-field-item:hover, .difficult-field-item:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.ac-game-menu-collapse {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 100px;
}

.ac-game-menu-collapse .collapse {
    width: 100%;
    height: 100%;
}

.ac-game-menu-message-board {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px
}

.ac-game-menu-message-board .message-board-content-box {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.7);
    user-select: text;
}

.ac-game-menu-message-board .message-board-content-box::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*background-color: rgba(255, 255, 255, 0.7);*/
}

.ac-game-menu-message-board .message-board-content-box::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 20px;
    background-color: rgba(232, 135, 235, 0.5);
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}

.ac-game-menu-message-board .message-board-content-box::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
}

.message-board-content-box .message-board-content h5 {
    font-size: 17px;
}

.message-board-content-box .message-board-content .create-time {
    font-size: 13px;
}

.ac-game-setting-description, .ac-game-difficult-description {
    padding: 20px;
    width: 50%;
    height: 60%;
    background-color: rgba(233, 233, 233, 0.9);
    border-radius: 10px;
    position: absolute;
    right: 10%;
    top: 20%;
    font-size: 20px;
}

.ac-game-rank {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(233, 233, 233, 0.9);
    overflow: hidden;
    padding: 20px;
}

.ac-game-rank .rank-table {
    width: 100%;
    height: 422px;
    overflow: hidden;
}

.ac-game-skin {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(207, 186, 240, 0.6);
    overflow: hidden;
}

.ac-game-skin .skin-back {
    position: absolute;
    top: 3%;
    left: 12%;
    z-index: 999;
}

.ac-game-skin .carousel {
    margin: 0 auto;
}

.ac-game-skin .carousel-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.ac-game-skin .carousel-item img {
    cursor: pointer;
    user-select: none;
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
    margin: 15vh auto 0 auto;
    transition: all 0.3s;
}

.ac-game-skin .carousel-item img:hover {
    transform: scale(1.2);
}

.ac-game-skin .carousel-caption {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #333333;
}

.ac-game-skin .carousel-indicators {
    margin-bottom: 5rem;
}

.ac-game-skin .carousel button {
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ac-game-skin button .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.ac-game-skin button .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.ac-game-playground {
    width: 100%;
    height: 100%;
    background-color: rgba(233, 233, 233, 0.9);
    user-select: none;
    overflow: hidden;
}

.ac-game-playground .game-map {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-field-history {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 35%;
    color: white;
    font-size: 2.3vh;
    padding: 5px;
    overflow: auto;
    word-break: break-all; /*超出会自动换行*/
    white-space: pre-wrap; /*保留空白符序列,但是正常地进行换行*/
    user-select: text; /*可以选中文字*/
}

.chat-field-history::-webkit-scrollbar {
    width: 0;
}

.chat-field-input {
    position: absolute;
    top: 82%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 4vh;
    color: white;
    font-size: 2.3vh;
    background-color: rgba(222, 225, 230, 0.2);
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    border: 0;
    border-radius: 7px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

.acgame-settings {
    background: url("https://app372.acapp.acwing.com.cn/static/image/settings/login_background.gif") center no-repeat;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
}

.acgame-settings .settings-login {
    background-color: rgba(247, 247, 247, 0.9);
    margin: 15vh auto;
    padding: 4vh 5vw;
    box-sizing: border-box;
    width: 40vw;
    height: 70vh;
    border-radius: 25px;
}

.acgame-settings .settings-login .login-tittle {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.acgame-settings .settings-login .login-item {
    margin-top: 5vh;
}

.acgame-settings .settings-login .login-error-message {
    margin-top: 3vh;
    float: left;
    color: red;
}

.acgame-settings .settings-login .login-register {
    margin-top: 3vh;
    float: right;
}

.acgame-settings .settings-login .login-register p {
    cursor: pointer;
    user-select: none;
}

.acgame-settings .settings-login .login-submit button {
    display: block;
    width: 100%;
}

.acgame-settings .settings-login .login-third-party {
    cursor: pointer;
    margin-top: 5vh;
    text-align: center;
}

.acgame-settings .settings-login .login-third-party img {
    width: 2vw;
}

.acgame-settings .settings-register {
    display: none;
    background-color: rgba(247, 247, 247, 0.9);
    margin: 15vh auto;
    padding: 3vh 5vw;
    box-sizing: border-box;
    width: 40vw;
    height: 70vh;
    border-radius: 25px;
}

.acgame-settings .settings-register .register-tittle {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.acgame-settings .settings-register .register-item {
    margin-top: 3vh;
}

.acgame-settings .settings-register .register-error-message {
    margin-top: 3vh;
    float: left;
}

.acgame-settings .settings-register .register-submit button {
    display: block;
    width: 100%;
}

.acgame-settings .settings-register .register-back button {
    display: block;
    width: 100%;
    border: none;
    background-color: rgba(0, 105, 217, 0.5);
}